In [1]:
# name =  Avinash Shiyani Batch = 24-26 , c-36
# 1
# Write a python program to create a list of 12 elements containing various data types.
# Iterate through the list and print the element and datatype of each element.
# Hint:
# mylist = [9, 3.14, "gls", True, [1, 2, 3], (1,2,3), {1,2,3}, {"name": "jatin"}, None, 2+3j]

mylist = [9, 3.14, "gls", True, [1, 2, 3], (1,2,3), {1,2,3}, {"name": "jatin"}, None, 2+3j]

for i in mylist:
    print("element = " ,  i , "type = " , type(i))

element =  9 type =  <class 'int'>
element =  3.14 type =  <class 'float'>
element =  gls type =  <class 'str'>
element =  True type =  <class 'bool'>
element =  [1, 2, 3] type =  <class 'list'>
element =  (1, 2, 3) type =  <class 'tuple'>
element =  {1, 2, 3} type =  <class 'set'>
element =  {'name': 'jatin'} type =  <class 'dict'>
element =  None type =  <class 'NoneType'>
element =  (2+3j) type =  <class 'complex'>

In [2]:
# 2
# Write a python program to create a list of cities and Perform following operations on the
# list of cities.
# a) Append a new city to the list.
# b) Print the first and last city in the list.
# c) Remove specific city from the list.
# d) Check whether ‘Amreli’ is in the list or not

my_city = ["jamnagar" , "rajkot" , "Ahmedabad"]

# a append city
my_city.append("surat")
print("append city" , my_city)

# b first and last city print
print("first element = " , my_city[0] , "last element =" , (my_city[-1]))

# c remove element
my_city.pop(-1)
print("removing last element ahmedabad = " , my_city)

checkCity = "amreli" in my_city
print ("check city" ,checkCity)

append city ['jamnagar', 'rajkot', 'Ahmedabad', 'surat']
first element =  jamnagar last element = surat
removing last element ahmedabad =  ['jamnagar', 'rajkot', 'Ahmedabad']
check city False

In [3]:
# 3
# Write a python program to create a tuple called ‘months’ containing the names of the any
# ten months of the year. Perform following operations on the ‘months’ tuple.
# a) Print the fifth month.
# b) Print the last 2 months.
# c) Check whether ‘October’ is in the list or not.
# d) Try to add a new month to the tuple (#this should result in an error)
# e) Convert the tuple into a list, add remaining months, and then convert it back to a
# tuple. 

months = ("jan" , "feb" , "march" , "april" , "may","june" , "july","august" , "november" , "december" )

# print fifth elemnt
print(months[4])

# print last two months
print(months[-2:])

# octomber in therre or not
is_month_there = "october" in months
print(is_month_there)

# add new month
# addNewMonth = months.append("avinash")

# print(addNewMonth)

convert = list(months)

convert.append("avinash")

print(type(convert))

print(convert)

may
('november', 'december')
False
<class 'list'>
['jan', 'feb', 'march', 'april', 'may', 'june', 'july', 'august', 'november', 'december', 'avinash']

In [4]:
# 4
# Write a python program to create two sets, `set1` and `set2`, containing some common
# and unique elements. Perform following operations.
# a) Display the number of elements of both the sets.
# b) Find the intersection of `set1` and `set2`
# c) Find the union of `set1` and `set2`.
# d) Check if `set1` is a subset of `set2`.
# e) Add an element to `set1` and remove an element from `set2`.
# Display appropriate results to verify the output.

set1 = {"hello" , "world"}
set2 = {"hello" , 2 , "world"}

# length of elemnts
print(len(set1))
print(len(set2))

# find the intersection
setIntersection = set1.intersection(set2)
print(setIntersection)

# find union 
findUnion = set1.union(set2);
print(findUnion)

# subset
findSubset = set1.issubset(set2)
print(findSubset)

addEle = set1.add("avinash")
delEle = set2.remove("world")
print(set1)
print(set2)

2
3
{'hello', 'world'}
{2, 'hello', 'world'}
True
{'avinash', 'hello', 'world'}
{2, 'hello'}

In [5]:
# 5. Write a python program to create dictionary called `student` with keys: "firstname",
# "lastname",”cmat” and "rollno" and fill in the values with your own information.
# a) Print the value associated with the "rollno" key.
# b) Add a new key-value pair to the dictionary, e.g., "city" and your city of residence.
# c) Remove the "cmat" key from the dictionary.
# d) Check if "city" is a key in the dictionary.
# Display appropriate results to verify the output.

student = {
    "firstname":"Avinash",
    "lastname":"shiyani",
    "cmat":False,
    "rollno":36,
}

# roll key print
print(student["rollno"])

# add city and city of refrence
student["city"] = "jamnagar"

# remove elemnt
student.pop("cmat")

# check if city
checkCity = "city" in student
print(checkCity)
print(student)

36
True
{'firstname': 'Avinash', 'lastname': 'shiyani', 'rollno': 36, 'city': 'jamnagar'}

In [6]:
# Create a dictionary of book titles and authors
books = {
    "To Kill a Mockingbird": "Harper Lee",
    "1984": "George Orwell",
    "The Great Gatsby": "F. Scott Fitzgerald",
    "Pride and Prejudice": "Jane Austen"
}

# Print all book titles
print("Book Titles:")
for title in books.keys():
    print(title)

# Print all authors
print("\nAuthors:")
for author in books.values():
    print(author)

# Add a new book-title/author pair to the dictionary
new_title = input("\nEnter a new book title: ")
new_author = input("Enter the author of the book: ")
books[new_title] = new_author
print(f"Added: {new_title} by {new_author}")

# Accept 
remove_title = input("\nEnter the title of the book you want to remove: ")

if remove_title in books:
    del books[remove_title]
    print(f"Removed: {remove_title}")
else:
    print(f"Book titled '{remove_title}' not found in the dictionary.")

# Print updated 
print("\nUpdated Book Titles:")
for title in books.keys():
    print(title)

print("\nUpdated Authors:")
for author in books.values():
    print(author)

Book Titles:
To Kill a Mockingbird
1984
The Great Gatsby
Pride and Prejudice

Authors:
Harper Lee
George Orwell
F. Scott Fitzgerald
Jane Austen

Enter a new book title:  hello
Enter the author of the book:  ai

Added: hello by ai

Enter the title of the book you want to remove:  ai

Book titled 'ai' not found in the dictionary.

Updated Book Titles:
To Kill a Mockingbird
1984
The Great Gatsby
Pride and Prejudice
hello

Updated Authors:
Harper Lee
George Orwell
F. Scott Fitzgerald
Jane Austen
ai

In [12]:
# 7
# Write a python program to create dictionary called ‘student’ and create Pandas dataframe
# from that dictionary. Display appropriate output.

import pandas as pd

student = {
    "name":["avinash"],
    "language":["english"],
    "coding":["python"],
}

useDataSet = pd.DataFrame(student)

print(useDataSet)

      name language  coding
0  avinash  english  python

In [56]:
# 8.
# Write a python program to find the sum, average and minimum number from a list.

number = [1 , 2 , 4 , 9 ,8, 7]

# sum in list
sumOfnumber = sum(number)
print(sumOfnumber)

# average of number
averageNumber =  sumOfnumber / 6
print(averageNumber)

# minimum of number
miniNumber = min(number)
print(miniNumber)

# print(number)

31
5.166666666666667
1

In [16]:
# 9. Write a python program to accept new value from the user and replace specific index in
# your list with new value. 

userInput = input("Enter input to replace")

list = ["hello" , "name" , "world"]

for i in range(len(list)):
    if list[i] == "name":
        list[i] = userInput

print(list)

Enter input to replace avinash

['hello', 'avinash', 'world']

In [33]:
# 10
# Write a python program to sort the list in ascending order and descending order
list = [1,2,80,56,-8,45]
ascendingOrder = list.sort()

print(list)

descendingOrder = list.sort(reverse = True)
print(list)

[-8, 1, 2, 45, 56, 80]
[80, 56, 45, 2, 1, -8]

In [41]:
# 11. Write a python program to create a new list by putting square of each numeric element.

list = [1 , 20 ,65 ,89 ,89 ,6 , 2]

for i in list:
    print("square of elemet = " , i , "=" , i*i)

square of elemet =  1 = 1
square of elemet =  20 = 400
square of elemet =  65 = 4225
square of elemet =  89 = 7921
square of elemet =  89 = 7921
square of elemet =  6 = 36
square of elemet =  2 = 4

In [47]:
# 12. Write a python program to concatenate two lists and then display the reverse list.

listOne = ["one" , "two" , "three"]
listTwo = ["four" , "five" , "six"]

newList = listOne + listTwo

newList.reverse()

print(newList)

['six', 'five', 'four', 'three', 'two', 'one']

In [49]:
#13
# Write a python program to append a list to second list.
listOne.append(listTwo)

# appending the list
print(listOne)

['one', 'two', 'three', ['four', 'five', 'six'], ['four', 'five', 'six']]

In [2]:
#14 .Write a python program to sort a list of tuples alphabetically
tup = ('a' , 'b' , 'z' , "1" , 'd' , 'e' , "1")

a =  tuple(sorted(tup))
print(a)

('1', '1', 'a', 'b', 'd', 'e', 'z')

In [16]:
# 15. Write a python program to find the repeated items of a tuple
tup = ('a' , 'b' , 'z' , "1" , 'd' , 'e' , "1")
# finding repeated iteam
for i in tup:
    count = tup.count(i)
    if count > 1:
        print(f"{i} is repeated {count} times.")

1 is repeated 2 times.
1 is repeated 2 times.

In [20]:
#16 Write a python program to create a new set with unique elements from both the sets by
# removing duplicate elements.

my_set = {"hello" , "world" , "my" , "name" , "is", "avinash"}
my_set_two = { "my" , "name" ,  "is" , "not" , "avinash"}

# union from makeing difference

difference = my_set.union(my_set_two);

print(difference)

{'world', 'avinash', 'hello', 'my', 'not', 'is', 'name'}

In [24]:
#17
# Write a python program to demonstrate the difference and symmetric difference operation
# on two sets.
# [Symmetric difference contains elements that are in either of the sets but not in their intersection]
# Define two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

difference = set1 - set2
symmetric_difference = set1.symmetric_difference(set2)

print("Difference (set1 - set2):", difference)
print("Symmetric Difference:", symmetric_difference)

Difference (set1 - set2): {1, 2}
Symmetric Difference: {1, 2, 5, 6}

In [30]:
# 18. Write a python program to convert string to list, string to tuple and string to set.

string = "hello world"

# convert string to list
convertStringToList = list(string)
print(convertStringToList)

# convert string to tuple
convertStringToTuple  = tuple(string)
print(convertStringToTuple)

# convcert string to set
convertStringToSet = set(string)
print(convertStringToSet)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')
{'r', ' ', 'd', 'l', 'o', 'w', 'h', 'e'}

In [40]:
# 19. Write a python program to convert set to list, set to tuple and set to string.
_set = { 1 , "hello" , "world"}

# convert set to list
convertSetToList = list(_set)
print(convertSetToList)

# convert set to tuple
convertSetToTuple = tuple(_set)
print(convertSetToTuple)

# convert set to String
convertSetToString = str(_set)

print(convertSetToString)

['world', 1, 'hello']
('world', 1, 'hello')
{'world', 1, 'hello'}

In [43]:
# 20
# Write a python program to display the length of each element of the list

_list = [ "hello" , "my" , "name" , "is" , "helloworld"]

for i in _list:
    print(len(i))

5
2
4
2
10

In [73]:
# 21
# Write a Python program to check whether each number is a prime or not in a given list of
# numbers.

# Function to check if a number is prime
def is_prime(n):
    if n <= 1:  
        return False
    for i in range(2, int(n**0.5) + 1): 
        if n % i == 0: 
            return False
    return True  

# Define a list of numbers to check
numbers = [2, 3, 4, 5, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20]

# Check each number in the list
for num in numbers:
    if is_prime(num):
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

2 is a prime number.
3 is a prime number.
4 is not a prime number.
5 is a prime number.
10 is not a prime number.
11 is a prime number.
13 is a prime number.
14 is not a prime number.
15 is not a prime number.
16 is not a prime number.
17 is a prime number.
18 is not a prime number.
19 is a prime number.
20 is not a prime number.